body {
  font-family: "Lato", sans-serif;
  color: #424551;
  line-height: 160%;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 810px;
}

.image {
  max-width: 100%;
}

h1 {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  color: #1e212c;
}

header {
  margin-bottom: 92px;
}

main {
  margin-bottom: 24px;
}

.content__image {
  margin-bottom: 60px;
}

.content__text-fat {
  color: #1e212c;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}

.content__text-thin {
  margin-bottom: 25px;
}

.content__text {
  margin-bottom: 48px;
}

.content__quote {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 48px;
  margin-left: 60px;
}

.content__list-text {
  margin-bottom: 24px;
}

.content__list-menu li {
  margin-bottom: 4px;
  margin-left: 16px;
  /* Вопрос : Что здесь, что в цитате, правильнее использовать для отступа слева margin или padding?  */
}

/* ЕКСПЕРИМЕНТИ */
.experiments {
  background-color: #d8e9f4;
}

.experiments__content-width,
.experiments__content-height,
.experiments__content-block,
.experiments__content-display,
.experiments__content-border,
.experiments__content-outline,
.experiments__content-border-radius,
.experiments__content-box-shadow,
.experiments__content-opacity,
.experiments__content-visibility,
.experiments__content-button {
  color: #f9f2f2;
  margin-bottom: 30px;
}

.experiments__content-width-one {
  width: 150px;
  background-color: #d34040;
  text-indent: 20px;
}

.experiments__content-width-two {
  max-width: 200px;
  letter-spacing: 5px;
  background-color: #cce130;
}

.experiments__content-width-three {
  white-space: nowrap;
  background-color: #53ca59;
  min-width: 140px;
}

.experiments__content-height-one {
  word-spacing: 50px;
  height: 100px;
  background-color: #8fd41f;
  text-align: center;
  text-decoration: line-through;
}

.experiments__content-height-two {
  max-height: 130px;
  background-color: #4d98c0;
  text-align: justify;
  text-shadow: 5px 42px 4px #ac3838, -4px 5px 5px #181e29;
}

.experiments__content-height-three {
  min-height: 120px;
  background-color: #69e758;
  text-decoration: underline;
  text-shadow: 5px 3px 3px #ac3838;
}

.experiments__content-block-hidden {
  background-color: #d86262;
  max-height: 50px;
  overflow: hidden;
  margin-bottom: 20px;
}

.experiments__content-block-overflow-scroll {
  background-color: #46d611;
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 20px;
  overflow: scroll;
}

.experiments__content-block-overflow-auto {
  background-color: #cf11d6;
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 20px;
  overflow: auto;
}

.experiments__content-display-block {
  background-color: #e5ff00;
  display: block;
  min-height: 50px;
  margin-bottom: 20px;
}

.experiments__content-display-inline {
  background-color: #ff7700;
  display: inline;
}

.experiments__content-display-inline-block {
  background-color: #e100ff;
  display: inline-block;
  margin: 15px;
  padding: 15px;
  color: #ffffff;
}

.experiments__content-display-none {
  display: none;
}

.experiments__content-border-null {
  border: 7px solid rgb(255, 255, 255);
  background-color: #cf8383;
  margin-bottom: 20px;
}

.experiments__content-border-null:hover {
  border: 7px solid transparent;
}

.experiments__content-border-one {
  background-color: #4b69bc;
  color: #ffffff;
  max-width: 250px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #c9a825;
  border-top: 5px dotted #ff0000;
  border-left: 5px dashed #7cfc00;
  border-right: none;
  margin-bottom: 20px;
}

.experiments__content-border-two {
  background-color: #df7373;
  border: 2px solid #8dd105;
  line-height: 170%;
}

img.experiments__content-border-three {
  border: 10px dotted #d54d4d;
}

.experiments__content-outline-one {
  background-color: #cfa3a3;
  max-height: 200px;
  max-width: 300px;
  margin: 0 auto;
  outline: 13px solid #ff0000;
}

a.experiments__content-outline-two {
  margin: 25px;
  background-color: #8ada12;
}

a.experiments__content-outline-two:focus {
  outline: 5px dotted #ff0000;
}

.experiments__content-outline-three {
  max-width: 200px;
  max-height: 200px;
  margin: 24px;
  background-color: #709030;
  outline: 5px solid #ff0000;
}

.experiments__content-outline-three:hover {
  outline: 5px solid transparent;
}

.experiments__content-border-radius-one {
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
  background-color: #0f52c8;
  border-radius: 20px 15px 16px 14px;
}

.experiments__content-border-radius-two {
  border-radius: 5px 10px 15px 13px / 12px 30px 20px 40px;
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
  padding: 10px;
  background-color: #548cec;
}

.experiments__content-border-radius-three {
  background-color: #a02f2f;
  border-radius: 10px 12px 14px 16px;
}

img.experiments__content-border-radius-four {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.experiments__content-border-radius-five {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f34444;
  overflow: hidden;
}

.experiments__content-box-shadow-one {
  box-shadow: 5px 10px 10px 5px #d81515;
  background-color: #9d7070;
  max-height: 200px;
  max-width: 300px;
  margin: 0 0 0 auto;
  margin-bottom: 20px;
}

.experiments__content-box-shadow-two {
  box-shadow: 5px 10px 5px 5px #42d815, inset 5px 4px 10px 5px #ffaa00;
  background-color: #f13737;
  max-height: 200px;
  max-width: 300px;
  margin: 0 auto;
}

.experiments__content-opacity-one {
  background-color: #80e2ab;
  opacity: 0;
}

.experiments__content-opacity-two {
  background-color: #6e44c9;
  opacity: 0.5;
  text-transform: uppercase;
}

.experiments__content-visibility-one {
  visibility: hidden;
}

.experiments__content-visibility-two {
  background-color: #171010;
  padding: 15px;
  margin: 15px;
  visibility: hidden;
  opacity: 0;
}

.experiments:hover .experiments__content-visibility-two {
  visibility: visible;
  opacity: 1;
}

.experiments__content-button {
  padding: 30px;
}

.experiments__content-button-one {
  background-color: #e35151;
  display: inline-block;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 5px 0 #1c150e;
}

.experiments__content-button-one:hover {
  box-shadow: 0 2px 0 #1c150e;
  margin-top: 3px;
}
