h1 {
  font-family: "Chicola Smoothy", fantasy;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px -3px 3px #ffe850;
  margin: 25px 0px 20px 0px;
}

h2 {
  margin: 30px 0px 30px 0px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  word-spacing: 10px;
  text-decoration: overline;
}

.picture {
  text-align: center;
}

.menu li {
  color: #1b6391;
  text-align: center;
  line-height: 30px;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin: 10px 0px 15px 0px;
}

.first-part_text p {
  margin: 10px 0px 30px 150px;
}

.block_1 {
  color: #ffffff;
  background-color: #2789a9;
  max-width: 500px;
  max-height: 200px;
  padding: 20px;
  overflow: auto;
}

.block_2 {
  color: #ffffff;
  background-color: #22a3ce;
  max-width: 400px;
  max-height: 100px;
  padding: 10px;
  overflow: hidden;
}

.block_3 {
  color: #ffffff;
  background-color: #48c4ee;
  max-width: 300px;
  max-height: 50px;
  padding: 10px;
  overflow: visible;
}

.block_3 span {
  color: #000000;
}

.two-part_text + * {
  color: #000000;
  padding: 20px;
  margin: 30px;
  background-color: hsla(65, 100%, 52%, 0.5);
}

li {
  color: #000000;
  margin: 10px;
  font-family: "Chicola Smoothy", fantasy;
}

.three-part_text p {
  max-width: 500px;
  line-height: 25px;
  margin: 0 auto;
  background-color: rgb(239, 15, 15);
  box-sizing: content-box;
  padding: 25px;
}

.three-part_text + * {
  color: #ff0000;
  text-indent: 20px;
  font-weight: 400;
  margin: 25px;
}

.three-part_text ~ div {
  color: #22a3ce;
}

.three-part_text > span {
  color: #5f5306;
  margin: 25px;
  display: block;
}
