body {
font-size: 20px;
font-family: "Gilroy", sans-serif;
}

.title {
text-align: center;
}

h1,
h2,
h3,
h4 {
text-align: center;
font-weight: 900;
margin: 20px;
padding: 20px;
}

img {
max-width: 100%;
}

li {
margin-left: 35px;
padding: 10px;
}

.menu__link li {
text-decoration: underline;
margin: 20px;
text-align: center;
background-color: rgba(207, 225, 241, 0.574);
}

p {
margin: 20px;
}

p.top {
font-weight: 700;
margin: 25px;
padding: 30px;
text-align: center;
color: #223636;
}

.content__list li {
list-style: decimal;
}

.content__about-size p {
font-size: 15px;
}

.content__about-property {
background-color: rgba(153, 213, 234, 0.547);
}

.content__about-color .color {
color: #e11414;
}

p.transparent {
color: rgba(225, 119, 20, 0.315);
}

p.center {
text-align: center;
}

p.right {
text-align: right;
}

p.justify {
text-align: justify;
}

p.line-through {
text-decoration: line-through;
}
p.overline {
   text-decoration: overline;
}
p.underline {
   text-decoration: underline;
}

p.just-shadow {
text-shadow: 5px 5px 20px #7fff00;
}
p.mult-shadow {
text-shadow: 5px 5px 10px #0e347b, -5px -15px 5px #ff0a0a;
}

p.capitalize {
   text-transform: capitalize;
}
p.lowercase {
   text-transform: lowercase;
}
p.uppercase {
   text-transform: uppercase;
}

p.line {
line-height: 2;
}

p.indent {
text-indent: 20px;
font-family: 'Barlow', sans-serif;
font-weight: 700;
font-style: italic;
}

p.letter-plus {
   letter-spacing: 4px;
}
p.letter-minus {
   letter-spacing: -7px;
}

p.nowrap {
white-space: nowrap;
}

p.spacing {
word-spacing: 5px;
}

.content__about-indent .content__padding {
background-color: #eaedab;
}

.content__padding > p {
padding: 10px 15px 13px 17px;
}

.content__margin > p {
background-color: #a2ec7a;
margin: 15px 25px 14px 18px;
}

.content__experiments {
background-color: #fff;
}

.content__experiments > p {
color: #7fff00;
}

.content__experiments ~ p {
color: #ff0000;
}

.content__experiments-one + p {
color: #0717ff;
}

#unique {
color: #0aceff;
}

.content__unique * {
color: #e18d26;
}